.env
.config/emacs/secrets.el
.config/emacs/*~
.config/emacs/#*#
.config/emacs/.#*
.config/emacs/*.bak
.config/emacs/*.swp
.config/emacs/*.swo
.config/emacs/*_flymake.*

.config/emacs/auto-save-list/

.config/emacs/*.elc
.config/emacs/*.eln
.config/emacs/eln-cache/

.config/emacs/elpa/
.config/emacs/eln-cache/
.config/emacs/package-quickstart.el
.config/emacs/package-selected.el

.config/emacs/ac-comphist.dat
.config/emacs/amx-items
.config/emacs/bookmarks
.config/emacs/recentf
.config/emacs/recentf~
.config/emacs/tramp
.config/emacs/transient/

.config/emacs/eshell/history
.config/emacs/eshell/lastdir
.config/emacs/url/history
.config/emacs/url/cookies

.config/emacs/org-roam.db
.config/emacs/org-roam.db-journal

.config/emacs/elgrep-data.el
.config/emacs/nov-places
.config/emacs/org-caldav-ad9a780.el

.config/emacs/*temp*

.config/emacs/custom-plugins/

.config/emacs/request/

.config/emacs/games/

.config/emacs/site-lisp/

.config/emacs/snippets/

.config/emacs/eaf/

.config/emacs/projects/

.config/emacs/hackernews/

.config/emacs/xenops/

.config/emacs/themes/
.config/emacs/ascii/colored-dashboard-banner.el
.config/emacs/ascii/img.txt

.config/emacs/Makefile*

.config/emacs/lisp

.config/emacs/.cache
.config/emacs/eshell
.config/emacs/todo
.config/emacs/.*
.config/emacs/projects


# Fish shell temporary/backup files
.config/fish/*
!.config/fish/config.fish
!.config/fish/
.project

.config/opencode/*
!.config/opencode/agents/
!.config/opencode/opencode.jsonc
